@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 14px;
  --background: 0 0% 100%;
  --foreground: 80 12% 16%;
  --card: 0 0% 100%;
  --card-foreground: 80 12% 16%;
  --popover: 0 0% 100%;
  --popover-foreground: 80 12% 16%;
  --primary: 160 8% 42%;
  --primary-foreground: 210 40% 98%;
  --secondary: 80 15% 82%;
  --secondary-foreground: 80 12% 16%;
  --muted: 80 15% 82%;
  --muted-foreground: 160 8% 42%;
  --accent: 80 15% 82%;
  --accent-foreground: 80 12% 16%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 80 15% 82%;
  --input: 80 15% 82%;
  --ring: 160 8% 42%;
  --radius: 0.5rem;
}

.dark {
  --background: 80 12% 16%;
  --foreground: 210 40% 98%;
  --card: 80 12% 16%;
  --card-foreground: 210 40% 98%;
  --popover: 80 12% 16%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 80 12% 16%;
  --secondary: 160 8% 42%;
  --secondary-foreground: 210 40% 98%;
  --muted: 160 8% 42%;
  --muted-foreground: 180 8% 64%;
  --accent: 160 8% 42%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 160 8% 42%;
  --input: 160 8% 42%;
  --ring: 180 8% 64%;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}
